<%= Gon::Base.render_data %>
<%= image_tag('title_small.png', id: 'map-title') %>
<%= image_tag('ocean2.jpg', id: 'ocean-background') %>

<div class="background-banner"></div>
<h4 class="perspective">Perspective:</h4><h3 class="country"> <%= Country.find(@country).country_name %></h3>

<div class="holder">
  <h6 id="map-headline"> <%= @title %> </h6>
  <div class="main-map" id="<%= @map %>"style=""></div>
</div>

<button type="submit" id="expenses-btn" class="waves-effect waves-light btn red darken-4">Relative Prices</button>
<button type="submit" id="currency-btn" class="waves-effect waves-light btn cyan darken-2">Currency Trend</button>
<button type="submit" id="currency-one-year" class="waves-effect waves-light btn cyan darken-2">1yrs</button>
<button type="submit" id="currency-two-years" class="waves-effect waves-light btn cyan darken-3">2yrs</button>
<button type="submit" id="currency-three-years" class="waves-effect waves-light btn cyan darken-4">3yrs</button>
<button type="submit" id="peace-btn" class="waves-effect waves-light btn red darken-6">Peace Index</button>

<% if current_user %>
  <p>hello, <%= current_user.name %></p>
<% else %>
  <%= link_to "login", login_path %>
<% end %>
