<%= Gon::Base.render_data %>
<%= image_tag('title2.png', id: 'map-title') %>
<div class="background-banner"></div>

<div class="holder">
  <h6 class="headline"> <%= @title %> </h6>
  <div class="main-map" id="<%= @map %>"style="width: 990px; height: 660px"></div>
  <!-- <div class="slider" style="width: 280px; margin: 10px"></div> -->
</div>
<h3 class="perspective">Perspective:</h3><h3 class="country"> <%= Country.find(@country).country_name %></h3>
<button type="submit" name="update" id="update">Relative Prices</button>
