<%= image_tag('title.png', id: 'site-title') %>

<div class="holder">
  <div id="blank-map"></div>
</div>

<div class="col s12 m6 left-card">
</div>

<div class="col s12 m6 right-card">
</div>

<div class="col s12 m6 circle welcome-circle">
  <div class="welcome-form">
    <%= form_tag('/display_map', :method => "get") do %>
      <div class="select select-box">
        <%= select_tag(:country, options_for_select(@countries), prompt: "Your Country?") %>
      </div>
      <div class="select select-box">
        <%= select_tag(:region, options_for_select([["World", "World"],
        ["Europe", "Europe"],
        ["North America", "North America"],
        ["South America", "South America"],
        ["Oceana", "Oceana"],
        ["Asia", "Asia"],
        ["Africa", "Africa"]]),
        prompt: "Which Region?") %>
      </div>
      <div class="select select-box">
        <%= select_tag(:data_type, options_for_select([["Currency Exchange", 1],
                                                       ["Relative Expense", 2],
                                                       ["Today's Price", 3]]),
                                                       prompt: "Data Type?") %>
      </div>
      <div class="select select-box">
        <%= select_tag(:time, options_for_select([["1 Year", 1],
                                                 ["2 Years", 2],
                                                 ["3 Years", 3],
                                                 ["4 Years", 4]]),
                                                 prompt: "How Far Back?") %>
      </div>

      <%= submit_tag "Submit" %>
    </div>
    <% end -%>

</div>
