<%= Gon::Base.render_data %>
<!-- <%= image_tag('title_small.png', id: 'map-title') %> -->
<%= link_to(image_tag("title_small.png", id: 'map-title'), root_path) %>
<%= image_tag('ocean2.jpg', id: 'ocean-background') %>
<%= image_tag('cost_key.png', id: 'price-legend') %>
<%= image_tag('peace_key.png', id: 'peace-legend') %>
<%= image_tag('hidden_key.png', id: 'hidden-legend') %>
<%= image_tag('question_mark.png', id: 'question-mark') %>


<div class="background-banner"></div>
<h4 class="perspective">Perspective:</h4><h3 class="country"> <%= @country %></h3>

<div class="holder">
  <!-- <h6 id="map-headline"> <%= @title %> </h6> -->
  <span class="explanation">Now viewing changes in currency exchange rates</span>
  <div class="main-map" id="<%= @map %>"style=""></div>
</div>

<button type="submit" id="expenses-btn" class="waves-effect waves-light btn red darken-4">Expense</button>
<button type="submit" id="currency-btn" class="waves-effect waves-light btn cyan darken-2">Currency Trends</button>
<button type="submit" id="currency-one-year" class="waves-effect waves-light btn cyan">1yr</button>
<button type="submit" id="currency-two-years" class="waves-effect waves-light btn cyan darken-1">2yrs</button>
<button type="submit" id="currency-three-years" class="waves-effect waves-light btn cyan darken-2">3yrs</button>
<button type="submit" id="peace-btn" class="waves-effect waves-light btn red darken-6">Peace Index</button>

<button type="submit" id="stats-btn" class="waves-effect waves-light btn red darken-6">View Report</button>
<button type="submit" id="sources-btn" class="waves-effect waves-light btn red darken-6">Sources</button>
<p id="tweeted" class="white-text">(Tweeted!)</p>
<% if current_user %>
  <% unless tweeted? %>
    <%= render "tweet_card" %>
    <%= image_tag('tweet-bird.png', id: 'tweet-btn', alt: "tweet-btn") %>
    <% else %>
      <p id="tweeted" class="white-text">(Tweeted!)</p>
  <% end %>
<% end %>
<%= render "sources_card" %>
<%= render "stats_card" %>
<%= render "help_card" %>
