<%= image_tag('title.png', id: 'site-title') %>
<!-- <%= image_tag('globe.png', id: 'globe') %> -->

<div class="holder">
  <div id="blank-map" class="main-map"></div>
</div>

<div class="col s12 m6 left-card">
</div>

<div class="col s12 m6 right-card">
</div>

<div class="col s12 m6 circle welcome-circle">
  <div class="welcome-form">
    <%= form_tag('/display_map', :method => "get") do %>

    <h5>Set your perspective</h5>
    <span>(Your home country, or get a different view...)</span>

      <div class="select select-box">
        <%= select_tag(:country, options_for_select(@countries, selected: @countries[163]), prompt: "What Perspective?") %>
      </div>

      <h5>View data for...
      <div class="select select-box">
        <%= select_tag(:region, options_for_select([["World", "world"],
                                                    ["Europe", "europe"],
                                                    ["North America", "north_america"],
                                                    ["South America", "south_america"],
                                                    ["Australia / NZ", "oceania"],
                                                    ["Asia", "asia"],
                                                    ["Africa", "africa"]], ["World", "world"]),
        prompt: "Which Region?") %>
      </div>
      <% if current_user %>
        <p>hello, <%= current_user.name %></p>
        <%= link_to "logout", logout_path %>
      <% else %>
        <%= link_to "Login with Twitter", login_path, class: "btn btn-lg btn-default btn-home", id: "twitter" %>
      <% end %>

      <%= submit_tag "Submit" %>
    </div>
  <% end -%>

</div>
