<%= image_tag('title.png', id: 'site-title') %>
<%= image_tag('glass.png', id: 'glass') %>
<%= image_tag('welcome-background.png', id: 'welcome-background') %>

<div class="holder">
  <!-- <div id="blank-map" class="main-map"></div> -->
</div>

<div class="col s12 m6 left-card">
</div>

<div class="col s12 m6 right-card">
</div>

<div class="col s12 m6 circle welcome-circle">
  <div class="welcome-form">
    <%= form_tag('/display_map', :method => "get") do %>
    <h5 class="welcome-text">Set your perspective</h5>

      <div class="select select-box">
        <%= select_tag(:country, options_for_select(@countries, selected: country_to_view)) %>
      </div>

      <h5 class="welcome-text">View data for...</h5>
      <div class="select select-box">
        <%= select_tag(:region, options_for_select([["Entire World", "world"],
                                                    ["Europe", "europe"],
                                                    ["North America", "north_america"],
                                                    ["South America", "south_america"],
                                                    ["Australia / NZ", "oceania"],
                                                    ["Asia", "asia"],
                                                    ["Africa", "africa"]], region_to_view)) %>
      </div>
      <%= submit_tag "Submit", class: "btn btn-lg btn-default btn-home blue lighten-2" %>
    <% end %>
  </div>
</div>

<% if current_user %>
  <%= link_to "Logout", logout_path, class: "btn btn-lg btn-default btn-home", id: "twitter-signout" %>
<% else %>
  <%= image_tag('tweet-suggestion.png', id: 'tweet-suggestion') %>
  <%= link_to "Login with Twitter", login_path, class: "btn btn-lg btn-default btn-home blue lighten-2", id: "twitter-signin" %>
<% end %>
